.wrapper {
  display: flex;
  gap: 30px;
}

.details {
  flex-basis: 600px;
}

.title {
  margin-top: 0px;
}

.genres {
  display: flex;
  gap: 20px;
  font-weight: 600;
}

.subNav {
  display: flex;
  gap: 30px;
  margin: 20px 0px;
}
